@use "variables" as v;

.product {
  background-color: v.$dark-blue;
  border: 2px solid v.$light-blue;
}

.card {
  background-color: v.$dark-blue;
  border: 2px solid v.$light-blue;
  border-radius: v.$radius;
  padding: 15px;
  text-align: center;
  transition: transform v.$transition;

  &:hover {
    transform: translateY(-5px);
  }

  img {
    width: 100%;
    border-radius: 5px;
  }

  h3 {
    color: $primary-color;
    margin: 10px 0;
  }

  a {
    display: inline-block;
    margin-top: 10px;
  }
}
