@use "variables" as v;

.product {
  background-color: v.$dark-blue;
  border: 2px solid v.$light-blue;
}

.search {
  display: flex;
  justify-content: center;

  form {
    display: flex;
    gap: 10px;
  }

  input {
    padding: 8px;
    border-radius: 5px;
    border: none;
  }

  button {
    background-color: v.$primary-color;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
  }
}
